* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.store {
  margin: auto;
  width: 60%;
  min-height: 100%;
}
h1 {
  font-size: 70px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.shoes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 30%;
  min-height: 90%;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 7px 5px 9px rgb(174, 165, 165);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 20px;
}
.image > img {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}
.image > img:hover {
  scale: 1.1;
  transition: 0.4s all ease-in;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.cart {
  width: 20%;
}
.cart > img {
  width: 90%;
  height: 60%;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.light {
  color: #00000080; /* 80 = opacity */
}

@media screen and (max-width: 319px) {
  .store {
    margin: auto;
    width: 75%;
    min-height: 100%;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  .card {
    width: 100%;
    min-height: 90%;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 7px 5px 9px rgb(174, 165, 165);
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .store {
    margin: auto;
    width: 90%;
    min-height: 100%;
  }
  .card {
    display: flex;
    border-radius: 30px;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-shadow: 7px 7px 10px rgb(201, 201, 201);
    margin-bottom: 40px;
  }

  .image {
    width: 80%;
    height: 200px;
    overflow: hidden;
    border-radius: 30px;
  }

  .details {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 20px;
    padding-top: 20px;
  }

  .cart > img {
    padding-top: 10px;
    width: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 550px) {
  /* .store {
    margin: auto;
    width: 50%;
    min-height: 100%;
  }
  .card {
    width: 100%;
    min-height: 90%;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 7px 5px 9px rgb(174, 165, 165);
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 20px;
  } */
  .store {
    margin: auto;
    width: 75%;
    min-height: 100%;
  }
  .card {
    border-radius: 30px;
    width: 100%;
    min-height: 450px;
    padding: 10px;
    box-shadow: rgb(201, 201, 201) 7px 7px 10px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 551px) and (max-width: 769px) {
  .store {
    margin: auto;
    width: 70%;
    min-height: 100%;
    gap: 20px;
  }
  .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  .card {
    width: 45%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .store {
    margin: auto;
    width: 80%;
    min-height: 100%;
    gap: 20px;
  }
  .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  .card {
    width: 30%;
    min-height: 10px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
  }
  .store {
    margin: auto;
    width: 80%;
    min-height: 100%;
    gap: 10px;
  }
  .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 22%;
    min-height: 10px;
  }
}
