* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow-x: hidden;
}
.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 90%; /* Mobile ke liye 90% behtar hai */
  /* max-width: 800px; Desktop par zyada bada na ho */
  min-height: 70vh;
  padding: 3rem;
  gap: 20px;
}

.allimage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.image1 {
  border: 2px solid black;
}
.image1 p {
  font-size: 1.2em;
  padding: 10px;
}
.topimagediv {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}
.topimagediv img {
  display: flex;
  gap: 20px;
  width: 60px;
  border-radius: 50%;
}
.topimagediv h6 {
  font-size: 1.6em;
}
.userimg {
  border-radius: 30px;
  width: 400px;
  height: 300px;
  object-fit: cover;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#keyword {
  width: 70%; /* Mobile ke liye 90% behtar hai */
  max-width: 800px; /* Desktop par zyada bada na ho */
  height: 10%;
}

/* Mobile Responsive Media Query */
@media (max-width: 600px) {
  .allimage {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
