* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 52, 52);
  color: white;
}
.tictac {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  /* height: 100vh; */
  gap: 5px;
  color: black;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.winnerClass {
  background-color: lightgreen;
}
#rstbtn {
  width: 150px;
  font-size: 30px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
